.businessDetails {
  display: flex;
  flex-direction: column; /* Establece la dirección en vertical */
  padding: 20px;
  height: 100%;
  overflow-y: scroll; /* Habilita el scroll si el contenido excede la altura máxima */
}

.businessTabs {
  flex: 1; /* Ocupa todo el espacio vertical restante */
  overflow: hidden; /* Evita el desbordamiento no deseado */
  margin-bottom: 20px;
}

.businessLocation {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Estilo para las reseñas */
.review {
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0;
}

.reviewHeader {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre elementos */
}

.author {
  flex: 1;
  font-weight: bold;
}

.datetime {
  font-size: 0.8rem;
  color: #888;
  margin-top: 5px;
}
