.inputStyle {
  margin: 0 20px 10px 20px;
  padding: 10px 40px 10px 10px; /* padding-right es mayor para evitar que el texto se superponga con el icono */
  height: 57px;
  background: transparent url('https://img.icons8.com/color/48/search--v1.png')
    no-repeat right 15px center;
  background-size: 24px 24px; /* ajusta el tamaño del ícono */
  border: 1px solid #eaecf5;
  border-radius: 10px;
  transition: border 0.3s ease;
  outline: none;
  flex-shrink: 0;
}

.inputStyle:focus {
  border-color: #fd6f8e; /* Cambia el color del borde a azul cuando el input esté enfocado */
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.3); /* Agregado para darle un ligero resplandor azul alrededor */
}

.inputStyle::placeholder {
  color: #9ea5d1;
}

@keyframes growsFromLeft {
  from {
    transform: translateX(-100px);
    opacity: 0;
    scale: 0.3;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
    scale: 1;
  }
}

.animatedGrowsFromLeft {
  transform: translateX(-100px);
  opacity: 0;
  scale: 0.3;
  animation: growsFromLeft 0.5s forwards;
}
