/* General Styles */
.container {
  margin: 0 1.25rem;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.625rem;
  padding: 0 1.25rem;
}

.container main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.row {
  padding: 0.625rem; /* Convertido de 10px */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.0625rem solid #eaecf5; /* Convertido de 1px */
}

.sectionLineContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 1rem 0;
}

.sectionLine {
  background: #eaecf5;
  width: 5rem;
}

.sectionLineText {
  margin: 0 0.625rem; /* Convertido de 10px */
  color: gray;
}

.loyaltyText {
  font-size: 1.25rem; /* Convertido de 20px */
  font-weight: 500;
}

.loyaltySubtext {
  font-size: 0.875rem; /* Convertido de 14px */
  color: #fd6f8e;
  font-weight: 400;
}

/* Profile Header */

.profileHeader {
  position: relative;
  height: 6.25rem; /* 100px */
  background: #fd6f8e;
}

.profileHeader .avatarContainer {
  position: absolute;
  bottom: -2.9375rem; /* -47px */
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 6.25rem; /* 100px */
  padding: 0.75rem; /* 12px */
  background: white;
}

.profileHeader .messageButtonContainer {
  position: absolute;
  bottom: -1.625rem;
  border-radius: 6.25rem;
  padding: 0.75rem;
  background: white;
  left: 1.875rem;
}

.profileHeader .settingsButtonContainer {
  position: absolute;
  bottom: -1.625rem; /* -26px */
  right: 1.875rem; /* 30px */
  border-radius: 6.25rem; /* 100px */
  padding: 0.75rem; /* 12px */
  background: white;
}

.profileName {
  position: relative;
  width: fit-content;
  margin: 4rem auto 0 auto;
}

.profileName p {
  font-size: 2rem;
  margin: 0;
}

.profileName button {
  position: absolute;
  right: -1.8rem;
  top: 1.3rem;
  background: white;
}

/* Media query para pantallas con un ancho máximo de 400px (por ejemplo, teléfonos móviles) */
@media only screen and (max-width: 380px) {
  .row {
    padding: 0;
  }

  .row p {
    font-size: 0.8rem;
  }

  .profileTitle {
    font-size: 1.4rem;
  }

  .sectionLineText {
    font-size: 0.8rem;
  }

  .loyaltyText {
    font-size: 1rem;
  }

  .loyaltySubtext {
    font-size: 0.8rem;
  }

  .profileHeader {
    height: 5rem;
  }
}
