@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: white;
  color: black;
  font-size: 16px; /* Esto establece un tamaño base para rem */
}

div::-webkit-scrollbar {
  display: none;
}

.ant-tabs-content-holder {
  overflow-y: scroll;
}

/* ok aca es la transicion estilos */

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

/* animations */

/* Animación */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-400px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Estado inicial de la animación */
.animatedFromLeft {
  transform: translateX(-400px);
  opacity: 0;
  animation: slideInFromLeft 0.8s forwards;
}

.react-datepicker {
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.react-datepicker__header {
  background-color: white;
}

.react-datepicker__input-container input {
  border-radius: 5px;
  border: 1px solid rgb(212, 208, 208);
  padding: 5px;
  max-width: 190px;
}

#BusinessTabs .ant-tabs-content-holder {
  overflow-y: scroll;
  max-height: 25vh;
}

@media (max-height: 670px) {
  #BusinessTabs .ant-tabs-content-holder {
    overflow-y: scroll;
    max-height: 15vh;
  }
}
